* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(275, 100%, 97%);
    background-image: url(images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    
    font-family: "Work Sans";
    font-size: 16px;
    color: hsl(292, 42%, 14%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    width: 100%;
    max-width: 550px;
    overflow: hidden;
    margin: 100px;
    padding: 15px 15px 0px;
}

header {
    background-image: url("images/icon-star.svg");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position-y: center;

    padding-left: 40px;
    font-weight: 700;
    font-size: 2rem;
    margin: 5px;
}

.container {
    margin: 5px;
    border-bottom: 2px solid hsl(275, 100%, 97%);
}

.last-container {
    border-bottom: none;
}

.question {
    background-image: url("images/icon-plus.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: right center;
    
    font-weight: 600;
    font-size: 0.9rem;
    padding: 10px 30px 10px 0px;
}

.answer {
    color: hsl(292, 16%, 49%);
    font-weight: 400;
    font-size: 0.8rem;
    padding-bottom: 10px;
    display: none;
}

.append {
    background-image: url("images/icon-minus.svg");
}

.question:hover {
    color: hsl(293, 58%, 54%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 375px){
    body {
        background-image: url(images/background-pattern-desktop.svg);
        background-size: 800px;
    }
}

@media screen and (min-width: 800px){
    body {
        background-image: url(images/background-pattern-desktop.svg);
        background-size: 100%;
    }
}